<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>        
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="icon" href="favicon.png" type="image/png" />
    <script>
        <!-- Plugin search controller -->
        function SearchCtrl($scope, $http, $document) {
            $http.get('plugins.json').success(function(data) {
                $scope.name = data.name;
                $scope.plugins = data.registrations;
            });
        }
    </script>
</head>

<body>

<!-- Begin page content -->
<div class="container" style="padding-top:20px;">
  <div ng-controller="SearchCtrl">
  
    <div class="row">
      <div class="span8">
      <h1>{{name}}</h1>
      </div>
      <div class="span4">
        <input ng-model="query" type="text" autofocus="true"
           placeholder="filter on id, description, provider" class="input-xlarge search-query">
      </div>
    </div>
    
    <div class="row">
      <div class="span12">
        <div id="searchResults" style="clear:both;padding-top:10px;">
          <div ng-repeat="plugin in plugins | filter:query | orderBy: 'id'">
            <div>
              <i class="{{plugin.icon}}" ng-show="plugin.icon.length"></i>
              <b>{{plugin.id}}</b>
              <small>
                <span class="muted">by {{plugin.provider}}</span>                
                <a ng-show="plugin.projectUrl.length" target="_blank" href="{{plugin.projectUrl}}"><i class="fa fa-link"></i></a>
                <p>                    
                  {{plugin.description}}
                  <br/>
                  <a ng-click="showReleases = !showReleases">releases</a>
                </p>                
              </small>
            </div>
              
            <table class="table table-condensed" ng-show="showReleases">
              <tbody>
                <tr ng-repeat="release in plugin.releases | orderBy: '-version'">
                  <td>
                    <b>{{release.version}}</b>
                  </td>
                  <td>
                    <small>
                      <em>{{release.date | date :'longDate'}}</em>
                    </small>
                  </td>
                  <td>
                    <small>
                      <em>{{release.requires}}+</em>
                    </small>
                  </td>
                  <td>
                    <small>
                      <a ng-show="release.url.length" href="{{release.url}}">download</a>
                    </small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
     </div>
   </div>
 </div>

</body>
</html>
